*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: #323522;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #636B2F;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#user-input{
    width : 70%;
    padding: 7px;
    border-radius: 5px;
}

#search-btn{
    padding: 7px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* .stats-container{
    display :none;
} */

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;

    background: conic-gradient(
        #BAC095 0deg var(--progress-degree, 0deg),
        #323522 var(--progress-degree, 0deg) 360deg
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: white;
    text-align: center;

    margin: 10px auto;
}



/* TEXT ABOVE EVERYTHING */
.circle span {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
}

.circle span {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    font-weight: bold;
}



.progress{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stats-card {
    background-color: #D4DE95;
    padding: 15px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 15px;
}

.stat-item {
    background-color: #f3f6c8;
    border-radius: 8px;
    padding: 12px;

    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.stat-item h3 {
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
}

.stat-item p {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}